.container {
    width: var(--default-layout-width);
    margin: 0 auto;
    justify-content: center;
    // align-items: center;
    // text-align: center;
    // background-color: #f0f2f5;
}

.loader {
    text-align: center;
    display: flex;
    justify-self: center;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #000000;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}


@mixin badges($color) {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    outline: 1px solid $color;
    color: $color;
    width: 150px;
    padding-inline: 10px;
    border-radius: 5px;
    user-select: none;

    //     :hover {
    //      background-color: $color !important;
    //      color: #FFF;
    //  }
}

.success-badges {
    @include badges(green);
}

.error-badges {
    @include badges(red);
}

.table-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    // background-color: #f1f1f1;
}

.input-field {
    border-radius: 8px;
    height: 30px;
    width: 70%;
    border: 1.5px solid gray;
    padding-inline: 10px;
    margin-right: 10px;
}

.database-container {
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.table-container {
    padding: 20px;
}

.red-dot {
    top: -2px;
    right: -2px;
    height: 15px;
    width: 15px;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}