.container {
    width: var(--default-layout-width);
    margin: 0 auto;
    justify-content: center;
}

@mixin badges($color) {
    margin-right: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    outline: 1px solid $color;
    color: $color;
    width: 110px;
    padding-inline: 5px;
    border-radius: 5px;
    user-select: none;
}

.success-badges {
    @include badges(green);
}

.error-badges {
    @include badges(red);
}


.input-field {
    border-radius: 8px;
    height: 30px;
    width: 70%;
    border: 1.5px solid gray;
    padding-inline: 10px;
    margin-right: 10px;
}

.red-dot {
    top: -2px;
    right: -2px;
    height: 15px;
    width: 15px;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.status-container {
    max-width: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.table-container {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    transition: max-height 0.2s ease-out;
}

.container-header {
    position: relative;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 10px;
    align-items: center;
    user-select: none;

    &:hover {
        background-color: #f0fff3;
        box-shadow: rgba(37, 164, 25, 0.24) 0px 3px 8px;
    }

    +.container-header {
        border-top: solid 1px #e6e6e6;
    }
}

.table-content {
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
    padding-block: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 5px;

    &:hover {
        background-color: #f0fff3;
        box-shadow: rgba(37, 164, 25, 0.24) 0px 3px 8px;
    }
}

.active {
    background-color: #f0fff3;
    box-shadow: rgba(37, 164, 25, 0.24) 0px 3px 8px;
}

.source-content {
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
    padding-block: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    border-radius: 8px;

    cursor: pointer;
    position: relative;
}

.source-content-wrapper {
    margin-top: 20px;
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 100, 0.24) 0px 3px 8px;
}

.right-toolbar {
    position: absolute;
    background-color: #3b82f6;
    color: white;
    right: 0;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 0 8px 8px 0;
}

.status {
    display: flex;
    flex-direction: row;
}

.header {
    margin-block: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blur-container {
    user-select: none;
    pointer-events: none;
    filter: blur(2px);
}

.button-create {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 10px;
    right: 10px;
    bottom: 10px;
}

//======================
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bg-black {
    background-color: black;
    color: white;

    &:hover {
        background-color: black;
        color: white;
    }
}