@import "src/styles/_mixin";


.wrapper {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 30px;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.item-card {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;

}

.item-img {
    margin-inline: 10px;
    margin-block: 10px;
    padding: 10px;
    background-color: #fff;
    color: #00556a;
    border-radius: 18px;
    border-width: 1px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100px;
    width: 250px;
    object-fit: contain;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(4, 253, 0, 0.2) 0px 8px 24px;
    }
}

.number-indicator {
    background-color: #000;
    border-radius: 8px;
    width: 50px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}